{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <div class="col-sm-10">
        <h3 class=" my-5">About Page</h3>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem esse cumque non reiciendis pariatur, ut consectetur nam ab alias totam exercitationem officia ipsum, aspernatur, accusamus culpa. Suscipit earum tempora accusantium facilis culpa rem iste, in pariatur dignissimos repellat nemo esse!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, velit! Quis earum officia ipsa odio consequatur perspiciatis, iusto quidem nostrum est cumque, quam reprehenderit, veniam omnis dolor eveniet voluptatem neque assumenda unde magnam? Earum nihil eum error repellat veniam a!</p>
    </div>

{% endblock content %}